/* Navigation Bar */

#main-navbar .container {
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#main-navbar ul,
#main-navbar .logo {
  justify-self: center;
}

#main-navbar ul li a {
  padding: 0.5rem;
}

#main-navbar .social-icons {
  display: none;
}

/* Home Articles */

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

/* For Small Size Mobiles */

@media (max-width: 600px) {
  /* Stack Grid Items On Top Of Each Other */

  #showcase .showcase-container {
    grid-template-columns: 1fr;
  }

  #home-articles .articles-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  /* Clearing the Span */

  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > * {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  #main-footer .footer-container > *:last-child,
  #main-footer .footer-container > *:nth-child(3),
  #main-footer .footer-container > *:nth-child(4) {
    border: none;
  }

  #main-footer .footer-container input[type='email'],
  #main-footer .footer-container input[type='submit'] {
    width: 100%;
  }

  #main-footer .footer-container > *:nth-child(4) > a {
    width: 100%;
    text-align: center;
  }

  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .page-container > *:first-child {
    grid-row: 1;
  }

  #article .meta > small {
    font-size: 0.75rem;
  }

  .lrg-heading {
    font-size: 2rem;
  }
}
